/* ================================================================================
	#Reset
================================================================================ */
* { padding: 0; margin: 0; outline: 0; }

/* ================================================================================
	#Base
================================================================================ */
html,
body { height: 100%; }

body { background: #fff; font-family: 'Roboto', sans-serif; font-size: 18px; line-height: 1.2; color: #55595d; }

a { color: #000; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }

img { border: 0; vertical-align: middle; }

ol,
ul { list-style-position: inside; }

h1,
h2,
h3,
h4,
h5,
h6 { font-family: 'Roboto Condensed', sans-serif; font-weight: normal; }

h1 { font-size: 60px; line-height: 1; color: #e54d26; font-weight: 300; }
h2 { font-family: ; font-size: 42px; line-height: 1; color: #e54d26; font-weight: 300; }
h3 { font-family: ; font-size: ; line-height: ; color: #; }
h4 { font-family: ; font-size: ; line-height: ; color: #; }
h5 {padding-bottom: 5px; font-size: 22px; line-height: 1; color: #; }
h6 { font-family: ; font-size: ; line-height: ; color: #; }

p { padding-bottom: ; }

/* ================================================================================
	#Helpers
================================================================================ */
.alignleft { float: left; }
.alignright { float: right; }

.clearfix:before,
.clearfix:after { display: table; content: ''; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* ================================================================================
	#Containers
================================================================================ */
.wrapper { position: relative; min-height: 100%; }
.shell { width: 1200px; margin: 0 auto; }
.rightclick { cursor: url(images/cursor.png), default; }
.nicescroll-rails-hr { display: none !important; }

/* ================================================================================
	#Header
================================================================================ */
.header { height: 210px; background: #010101 url(images/logo.jpg) center 20px no-repeat; -webkit-background-size: 135px 100px; background-size: 135px 100px; text-align: center; }
.header h1 { padding-top: 130px; }

/* ================================================================================
	#Main
================================================================================ */
.main { overflow: hidden; padding: 50px 0 110px; }
.content { float: left; width: 1200px; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
.sidebar { float: left; width: 200px; }

/* ================================================================================
	#Section
================================================================================ */
.section ~ .section { padding: 30px 0 0; }
.section-head { padding-bottom: 20px; }
.section-head p { font-weight: 400; }
.section-head h5 span { display: inline-block; vertical-align: middle; }

.element ~ .element { padding-top: 20px; }

.snippet-head small { -webkit-transform: rotate(0); transform: rotate(0); -webkit-animation: imove 0.8s 1; animation: imove 0.8s 1; }
.snippet-head.active small { -webkit-transform: rotate(45deg); transform: rotate(45deg); -webkit-animation: hover 0.8s 1; animation: hover 0.8s 1; }


@-webkit0keyframes imove {
    0% { -webkit-transform: rotate(45deg); }
    100% { -webkit-transform: rotate(90deg); }
}

@keyframes imove {
    0% { transform: rotate(45deg); }
    100% { transform: rotate(90deg); }
}

@-webkit-keyframes hover {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(45deg); }
}

@keyframes hover {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(45deg); }
}


/* ================================================================================
	#Code
================================================================================ */
pre.prettyprint { overflow: auto; padding: 20px; margin: 0; background: #f5f5f5; font-size: 18px; line-height: 1.2; color: #666; white-space: pre; white-space: pre-wrap; word-wrap: break-word; letter-spacing: .5px; }
p ~ .code pre.prettyprint { margin: 20px 0; }

/* ================================================================================
	#Snippets
================================================================================ */
.snippet ~ .snippet { padding-top: 10px; }

.snippet-head { position: relative; padding-bottom: 7px; border-bottom: 1px solid #f37230; letter-spacing: 0; cursor: pointer; }
.snippet-head:hover,
.snippet-head.active { color: #f37230; letter-spacing: 1.4px; }
.snippet-head small { position: absolute; top: 0; right: 10px; display: block; width: 20px; height: 20px; -webkit-transform: rotate(0deg); transform: rotate(0deg); transform-origin: 50% 50%; backface-visibility: hidden; }
.snippet-head small:before,
.snippet-head small:after { position: absolute; top: 10px; right: 1px; content: ''; width: 20px; height: 1px; background: #f37230; backface-visibility: hidden; }
.snippet-head small:before { -webkit-transform: rotate(90deg); transform: rotate(90deg); }

.snippet-body { display: none; padding: 20px 0 10px 20px; border-left: 2px solid #f37230; margin-bottom: 30px; }

.snippet-cnt ~ .snippet-cnt { margin-top: 20px; }
.snippet-cnt h4 { padding-bottom: 10px; }
.snippet-result p { font-family: 'Roboto Condensed', sans-serif; font-size: 18px; line-height: 36px; color: #000; text-shadow: 0px 1px #fff; }

.snippet-master,
.snippet-advanced { margin-top: 20px; }

.snippet-result,
.snippet-body pre.prettyprint { position: relative; padding: 0 20px; border: 3px solid #ccc; background: #eaeff2 url(images/code.png) 0 0 repeat; }
.snippet-result:after,
.snippet-body pre.prettyprint:after { position: absolute; top: 7px; left: 7px; right: 7px; bottom: 7px; content: ''; border: 1px solid #fff; }
.snippet-body pre.prettyprint .comment { font-size: 16px; }
.token.operator, 
.token.entity, 
.token.url, 
.language-css .token.string, 
.style .token.string { background: none; }

.snippet-cnt-inner { position: relative; padding: 17px; border: 3px solid #ccc; background: #eaeff2 url(images/code.png) 0 0 repeat; }
.snippet-cnt-inner:after { position: absolute; top: 7px; left: 7px; right: 7px; bottom: 7px; content: ''; border: 1px solid #fff; }
.snippet-cnt-inner pre.prettyprint { position: relative; z-index: 2; padding: 0 10px; border: 0; background: transparent; }
.snippet-cnt-inner pre.prettyprint:after { display: none; }

.snippet-head small {
	-webkit-transition: -webkit-transform .3s;
	   -moz-transition:    -moz-transform .3s;
	     -o-transition:    	 -o-transform .3s;
	        transition: 		transform .3s; 
}

.snippet-head {
	-webkit-transition: color .3s, letter-spacing .3s;
	   -moz-transition: color .3s, letter-spacing .3s;
	     -o-transition: color .3s, letter-spacing .3s;
	        transition: color .3s, letter-spacing .3s; 
}

/* ================================================================================
	#Footer
================================================================================ */
.footer { position: absolute; right: 0; bottom: 0; left: 0; height: 60px; padding-top: 3px; border-top: 2px solid #e54d26; background: #010101; }
.footer .shell { overflow: hidden; }
.footer-inner { position: relative; padding-top: 3px; border-width: 1px 0 0; border-style: solid; border-color: #f37230; }
.logo-footer { width: 68px; height: 50px; background: url(images/logo.jpg) 0 0 no-repeat; -webkit-background-size: cover; background-size: cover; }

.credits { float: left; color: #e54d26; }
.credits span { display: inline-block; vertical-align: middle; }
.copyrights { overflow: hidden; padding-top: 16px; color: #ccc; text-align: right; }
.copyrights a { color: #e54d26; }